.App {
  text-align: center;
}

.App-logo {
  height: 70px;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  margin-top: 5%;
}

.App-link {
  color: #61dafb;
}

.App-dev-link {
  color: #3dd5e0;
  font-weight: bold;
  text-decoration: none;
}

.App-dev-link:hover {
  color: #0f9faa;
}

.App-axie-img {
  width: 170px;
}

.App-clickable {
  cursor:  pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
